body{
background-color: #202124;
color: #ffffff;
}

.typing {
    font-family: "Lucida Console", Monaco, monospace;
    overflow: hidden;             /* hides text until it's typed */
    border-right: .15em solid #000; /* blinking cursor */
    white-space: nowrap;          /* keeps text on one line */
    margin: 0 auto;
    letter-spacing: .1em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .75s step-end infinite;
}

.subtitle {
    font-family: "Lucida Console", Monaco, monospace;
    margin-top: 0.5em;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}


.heading {
   text-align: center;
   position: fixed;
   width: 100%;
}

.footer {
   position: fixed;
   left: 0;
   bottom:0;
   width: 100%;
   text-align: center;
}

.header-title {
    font-family: "Lucida Console", Monaco, monospace;
}

a:link {
  color: #8ab4f8;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #c58af9;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #c58af9;
  background-color: transparent;
  text-decoration: underline;
}
